/* Reset default margin and set default font  */
*{margin: 0; font-family: 'Open Sans', sans-serif;}

/* Common Styles */
.btn-primary{
    background: #FF5959; color: #fff; padding: 14px 25px; border-radius: 5px; border:0; font-size: 16px;
}

.btn-primary:hover{
    background: #ff5950c2; cursor: pointer;
}
.primary-text{
    color: #707070; text-align: center; font-weight: 500; margin: 20px 0 30px;
}

.section-title{
    font-size: 32px; font-weight: 800; text-align: center; color: #121212;
}

main{
    max-width: 1100px; margin: 0 auto;
}

/* header styles */
.header{
    min-height: 750px; align-items: center; display: flex; flex-direction: column; justify-content: center; background: url(../images/donation5.jpg), linear-gradient(#fff, #000);; background-size: cover; background-position: center center; background-blend-mode: multiply; padding: 0 250px;
}

.banner-title{color: #fff; font-size: 60px; font-weight: 800; text-align: center;} 

.banner-text{
    color: #fff; font-size: 20px; margin: 20px 100px 30px; text-align: center;
}


/* Donate form styles  */
.donate-form{padding: 100px  200px;}
.amount-container{
    display: flex; align-items: center; gap:20px; justify-content:space-around;
}

.amount{text-align: center; font-size: 25px; font-weight: 800; color:#707070; padding: 25px 20px; border: 1px solid #dedede; background: #FAFAFA; border-radius: 5px;}
.amount:hover{color: #FF5959; border: 1px solid #FF5959; border-radius: 5px; cursor: pointer; background: #FFEEEE;}


.donate-form input[type=number]{
    width: 100%; display: inline-block; padding: 10px; margin: 30px 0; background: #fff; border:0; border-bottom: 1px solid #dedede; text-align: center;
}

.custom-input{
    text-align: center;
}

/* Donate plan style  */
.donate-plans{
    padding: 0 100px 100px;
}

.donate-plans .primary-text{padding: 0 100px;}
.plans-container{
    display: flex; gap: 25px;
}

.plan{
    padding: 35px 25px; background: #FFEEEE; box-shadow:0px 6px 50px rgba(0, 0, 0, 0.06); border-radius: 8px; border: 1px solid transparent;
}
.plan:nth-child(2){
    background: #EDF5F6; 
}

.plan:hover{
    border: 1px solid #FF5959; cursor: pointer;
}
.plan-title{
    font-weight: 700; font-size: 20px; color: #121212; margin: 20px 0 10px;
}

.plan-description{
    color: #707070; font-size: 16px;
}

/* Knowladge base styles  */
.knowladge-base{
    padding: 0 100px;
}

.knowladge-items{
    display: flex; justify-content: space-between; align-items: center; margin-top: 50px;
}

.content{
    width: 50%; padding: 20px 50px 20px 0;
}

.content:nth-child(2){
    width: 50%; padding: 20px 0 20px 55px;
}

.know-image{
    width: 420px; height: 430px;
}

.knowladge-title{
    font-size: 35px; font-weight: 800; line-height: 40px;
}

.knowladge-description{
    color: #707070; font-size: 16px; margin: 20px 0;
}

/* Newslater section  */

.newslater{
    margin: 80px 250px;
}

.newslater .primary-text{padding: 0 35px;}
.subscription-form{
    background: #FFF4D6; padding: 60px; text-align: center; border-radius: 10px;
}

.newslater input[type=email]{
    width: 200px; display: inline-block; padding: 10px; margin: 0; background: #D9D9D9; border: 0; border-radius: 5px 0 0 5px;
}

.subs-btn{
    background:#FF5959; color: #fff; border: 0; padding:10px; margin-left: -5px; display: inline-block; border-radius: 0 5px 5px 0; cursor: pointer;
}

.subs-btn:hover{
    background: #ff5950c2;
}

/* footer styles */

.footer{
    background-color: #0B0D17; padding: 50px; text-align: center;
}

.footer-title{
    color:#C9484A
}

.footer-text{
    color: #fff;
}


/* Styles for mobile divices */



@media only screen and (max-width: 576px) {

/* header styles */
.header{
    min-height: 400px; align-items: center; display: flex; flex-direction: column; justify-content: center; background: url(../images/donation5.jpg), linear-gradient(#fff, #000);; background-size: cover; background-repeat: no-repeat; background-position: center; background-blend-mode: multiply; padding:0; width: 100%;
}

.banner-title{color: #fff; font-size: 40px; font-weight: 800; text-align: center;} 

.banner-text{
    color: #fff; font-size: 16px; text-align: center; margin:20px 20px 30px;
}


/* Donate form styles  */
.donate-form{padding: 20px;}
.amount-container{
    display: flex; flex-wrap:wrap; gap:10px; justify-content:center; 
}

.amount{text-align: center; font-size: 20px; font-weight: 800; color:#707070; padding: 20px 15px; border: 1px solid #dedede; background: #FAFAFA;}

.amount:hover{color: #FF5959; border: 1px solid #FF5959; border-radius: 5px; cursor: pointer; background: #FFEEEE;}


.donate-form input[type=number]{
    width: 90%; display: inline-block; margin: 25px 0; background: #fff; border:0; border-bottom: 1px solid #dedede; text-align: center;
}

.custom-input{
    text-align: center;
}

/* Donate plan style  */
.donate-plans{
    padding: 20px;
}

.donate-plans .primary-text{padding: 0}
.plans-container{
    display: flex; flex-wrap: wrap; gap:35px
}

.plan{
    padding: 30px 20px; background: #FFEEEE; box-shadow:0px 6px 50px rgba(0, 0, 0, 0.06); border-radius: 8px; border: 1px solid transparent;
}


/* Knowladge base styles  */
.knowladge-base{
    padding: 20px;
}

.knowladge-items{
    display: flex; flex-direction: column-reverse; align-items: center; margin-top: 50px;
}

.knowladge-items:nth-child(2){
    display: flex; flex-direction: column; align-items: center; margin-top: 50px;
}
.content, .content:nth-child(2){
    width: 100%; padding: 20px 0;
}


.know-image{
    width: 100%; height: 320px;
}

.knowladge-title{
    font-size: 35px; font-weight: 800; line-height: 40px;
}

.knowladge-description{
    color: #707070; font-size: 16px; margin: 20px 0;
}

/* Newslater section  */

.newslater{
    margin: 50px 20px;
}

.newslater .primary-text{padding: 0;}
.subscription-form{
    background: #FFF4D6; padding: 40px 5px; text-align: center; border-radius: 10px;
}

.newslater input[type=email]{
    width: 200px; display: inline-block; padding: 12px; margin: 0; background: #D9D9D9; border: 0; border-radius: 5px 0 0 5px;
}

.subs-btn{
    background:#FF5959; color: #fff; border: 0; padding:12px; margin-left: -5px; display: inline-block; border-radius: 0 5px 5px 0; cursor: pointer;
}

.subs-btn:hover{
    background: #ff5950c2;
}

}