/* Reset default margin and set default font  */
*{margin: 0; font-family: 'Open Sans', sans-serif;}

/* Common Styles */
.btn-primary{
    background: #FF5959; color: #fff; padding: 14px 25px; border-radius: 5px; border:0; font-size: 16px;
}

.primary-text{
    color: #707070; text-align: center; font-weight: 500;
}

.section-title{
    font-size: 30px; font-weight: 800; text-align: center; color: #121212;
}

main{
    max-width: 1100px; margin: 0 auto;
}

/* header styles */
.header{
    min-height: 100vh; align-items: center; display: flex; flex-direction: column; justify-content: center; background: url(../images/donation5.jpg), linear-gradient(#fff, #000);; background-size: cover; background-position: center center; background-blend-mode: multiply; padding: 0 250px;
}

.banner-title{color: #fff; font-size: 60px; font-weight: 800; text-align: center;} 

.banner-text{
    color: #fff; font-size: 20px; margin: 20px 100px 30px; text-align: center;
}